<div class="subheader">CSV</div>
<div class="files">
  <a href="{{API}}/exportDatabase/getTreeCSV.csv" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka Strom CSV
  </a>
  <a href="{{API}}/exportDatabase/getTreeCSV.csv" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka Strom CSV
  </a>
  <a href="{{API}}/exportDatabase/getTreeCSV.csv" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka Strom CSV
  </a>
</div>

<mat-divider></mat-divider>

<div class="subheader">DBF</div>
<div class="files">
  <a href="{{API}}/exportDatabase/getTreeCSV.csv" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka Strom CSV
  </a>
  <a href="{{API}}/exportDatabase/getTreeCSV.csv" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka Strom CSV
  </a>
  <a href="{{API}}/exportDatabase/getTreeCSV.csv" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka Strom CSV
  </a>
  <a href="{{API}}/exportDatabase/getTreeCSV.csv" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka Strom CSV
  </a>
</div>