<div class="page">
  <div class="mainInfo">
    <div class="infoBlock">
      <h1>Základní informace</h1>
      <div class="line"><div class="label">ID: </div> <div class="content">1234</div></div>
      <div class="line"><div class="label">jméno: </div> <div class="content">Pinus nigra</div></div>
      <div class="line"><div class="label">Position: </div> <div class="content">40.9161785, -73.7001808</div></div>
      <div class="line"><div class="label">Datum: </div> <div class="content">12.12.2019</div></div>
      <div class="line"><div class="label">Typ: </div> <div class="content">stromořadí</div></div>
      <div class="line"><div class="label">řád: </div> <div class="content">borovicovaré</div></div>
      <div class="line"><div class="label">čeleď: </div> <div class="content">borovicovité</div></div>
      <div class="line"><div class="label">rod: </div> <div class="content">borovice</div></div>
      <div class="line"><div class="label">podrod: </div> <div class="content">Pinus</div></div>
      <div class="line"><div class="label">Ohrožení A: </div> <div class="content">1, 3</div></div>
      <div class="line"><div class="label">Ohrožení B: </div> <div class="content">2</div></div>
      <div class="line"><div class="label">Ohrožení C: </div> <div class="content"></div></div>
      <div class="line"><div class="label">Ohrožení D: </div> <div class="content"></div></div>
      <div class="line"><div class="label">Ohrožení E: </div> <div class="content"></div></div>
      <div class="line"><div class="label">Komentář: </div> <div class="content">Tento strom je strašně krásný, přidejte ho prosím, prosím.</div></div>
      <div class="line"><div class="label">Potvrzení: </div> <div class="content">ANO</div></div>
      <div class="line"><div class="label">Obrázky: </div> <div class="content">/some/path.png</div></div>
    </div>

    <div class="infoBlock">
      <h1>Správce</h1>
      <div class="line">Jméno: <div class="label"></div> <div class="content">Pepa</div></div>
      <div class="line">Příjmení: <div class="label"></div> <div class="content">Novák</div></div>
      <div class="line">Email: <div class="label"></div> <div class="content">stromky@ahoj.cz</div></div>
      <div class="line">Tel.: <div class="label"></div> <div class="content">777 777 777</div></div>
      <div class="line">Poslední úprava: <div class="label"></div> <div class="content">21.4.2020</div></div>
      <div class="line">Komentář: <div class="label"></div> <div class="content">Ano vskutku, tento strom je velmi překrásný</div></div>
    <div class="line">URL: <div class="label"></div> <div class="content">/some/path.png</div></div>
    </div>
  </div>

  <div class="catInfo">
    <h1>Kategorizace</h1>
    <div class="catContent">
      <div class="catBlock">
        <table>
          <tr>
            <th>K</th><th>K1</th><th>K2</th><th>K3</th><th>K4</th><th>K5</th>
          </tr>
          <tr>
            <td>2</td><td>3</td><td>1.5</td><td>3.5</td><td>6.1</td><td>2</td>
          </tr>
        </table>
      </div>

      <div class="catBlock">
        <table>
          <tr>
            <th>K1</th><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>
          </tr>
          <tr>
            <th>K2</th><td>1</td><td>1</td><td>1</td><td></td><td></td><td></td><td></td>
          </tr>
          <tr>
            <th>K3</th><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr>
            <th>K4</th><td>1</td><td>1</td><td>1</td><td>1</td><td></td><td></td><td></td>
          </tr>
          <tr>
            <th>K5</th><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>

<button mat-button>Tisk</button>
