<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>VÝZNAMNÉ STROMY ADMIN</span>
    <span class="spacer"></span>
    <button mat-button class="iconBTN"><mat-icon [routerLink]="['/edit-tree']" class="icon" aria-hidden="false" aria-label="Example delete icon">add_box</mat-icon></button>
    <button mat-button class="iconBTN"><mat-icon [routerLink]="['/users']" class="icon" aria-hidden="false" aria-label="Example heart icon">account_box</mat-icon></button>
    <button mat-button class="iconBTN"><mat-icon [routerLink]="['/downloads']" class="icon" aria-hidden="false" aria-label="Example heart icon">get_app</mat-icon></button>
    <button mat-button class="iconBTN"><mat-icon [routerLink]="['']" class="icon" aria-hidden="false" aria-label="Example delete icon">home</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
